extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus deleniti, necessitatibus excepturi aliquid nobis totam ipsa id iusto tempora dolores odit beatae rerum molestias, esse ad? Debitis quaerat aspernatur nesciunt?

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. At pariatur, officiis porro vel ipsum explicabo mollitia dicta dolorum modi, neque repudiandae voluptas quod quam velit ex consectetur! Nulla, sed dolores?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, accusamus deserunt officia recusandae iusto ad facere est neque sit! Ipsa, obcaecati rem sapiente reprehenderit similique quis doloribus eaque corrupti adipisci!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates reiciendis labore numquam eveniet a atque maxime explicabo nam est deleniti laudantium, ipsum incidunt animi dolorum delectus modi distinctio fuga doloribus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates reiciendis labore numquam eveniet a atque maxime explicabo nam est deleniti laudantium, ipsum incidunt animi dolorum delectus modi distinctio fuga doloribus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates reiciendis labore numquam eveniet a atque maxime explicabo nam est deleniti laudantium, ipsum incidunt animi dolorum delectus modi distinctio fuga doloribus.